antlr==2.7.5rc1
asn1crypto==0.24.0
attrs==17.4.0
backports.functools-lru-cache==1.6.1
beautifulsoup4==4.6.0
chardet==3.0.4
cryptography==2.1.4
cvxopt==1.1.9
cycler==0.10.0
decorator==4.1.2
enum34==1.1.6
et-xmlfile==1.0.1
funcsigs==1.0.2
gunicorn==19.7.1
html5lib==0.999999999
idna==2.6
ipaddress==1.0.17
jdcal==1.0
joblib==0.11
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.1.0
lxml==4.2.1
matplotlib==2.2.5
mock==2.0.0
numexpr==2.6.4
numpy==1.16.6
olefile==0.45.1
openpyxl==2.4.9
pandas==0.22.0
patsy==0.4.1+dev
pbr==3.1.1
Pillow==5.1.0
pluggy==0.6.0
py==1.5.2
pycrypto==2.6.1
pygame===1.9.1release
pygobject==3.26.1
pyparsing==2.4.7
pytest==3.3.2
python-dateutil==2.8.1
pytz==2020.4
pyxdg==0.25
scipy==1.2.3
SecretStorage==2.3.1
simplejson==3.13.2
six==1.11.0
statsmodels==0.8.0
subprocess32==3.5.4
tables==3.4.2
webencodings==0.5
wxPython==3.0.2.0
wxPython-common==3.0.2.0
xlrd==1.1.0
xlwt==0.7.5
